.heading{
	font-family: 'Grenze Gotisch', cursive;
}

.mt-20{
	margin-top: 20%;
}

.mb-20{
	margin-bottom: 20%;
}

.black{
	color:black !important;
}

.jc{
	justify-content: center;
}

.jc .card{
	border-radius: 0px !important;
	box-shadow: 5px 5px 5px 1px gray;
	clear: both;
	display: block;
	transition: all ease-in-out .3s;
}

.jc .box:hover{
	transform: scale(1.05);
}


.jc .box:hover .img-spin{
	transform: scale(1.05);
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-duration: 1.2s;
}

@keyframes spin{
	100% { transform: rotate(360deg); }
}

.jc .a{
	text-decoration: none;
	transition: .3s;
}

.jc .a:hover{
	text-decoration: none;
	transform: scale(1.1);
}

.mtlbkiw{
	width: max-content;
}


.cen{
	position: relative;
	
}


.overlay{
    background:rgba(0,0,0,0.5);
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.main {
  display: block;  
  width: 100%;
}




.box{
	transition: all .3s;
}


.box:hover > .overlay {
    opacity: 1;
}


.w-max{
	width: max-content;
}





@media(max-width: 767px){
	.jic{
		padding-bottom: 15px;
		justify-content: center;
		display: flex;
	}
}