body{
	background-color: #f8f9fa !important;
	font-family: 'Open Sans',sans-serif !important;
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.ar{

  background-color: grey;
  color: white;
  float: right;
}

.dis-sm{
  display: none;
}

.dropbtn {
}

/* The container <div> - needed to position the dropdown content */
.dropdown-css {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: min-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 200px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-radius: 5px;background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-css:hover .dropdown-content {display: block;}



.logbtn{
	padding: 0px !important;
	transition: transform .3s, color .4s ease-in !important;
	color: grey;
	width: 115px;
}


.bg-navy{
	background-color: #0f3b66 !important;
}

.bg-navy2{
	background-color: #002147 !important;
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.cousel{
	height: 500px; width: 100%;
}

.logbtn:hover{
	color: black !important;
	transform: scale(1.1);

	font-weight:900;
}

.hid{
	display: none;
}




.no{
	text-decoration: none;
	color: #dfdfdf;
}

.no:hover{

	text-decoration: none;
	color: #dfdfdf;
}

.t{
	background: #012f4d;
    color: white;
}

.sty{
font-family: 'Exo 2', sans-serif;
font-space: 10px;
}

.expert{
	padding: auto;
	color: white !important;
	background-color: white !important;
	border-radius: 20px;
	border: 03px solid #0f2499;
	box-shadow: -3px 10px 6px #000;
	transition: all ease-in-out .5s !important;
	min-height: 54px;
}

.btn-start{
    background-color: #0f3b66 !important;
    color: white;
    font-weight: 600;
    font-size: 22px;
    animation-name: getStarted;
    animation-duration: 2s;
}

.btn-start:hover{
  background-color: rgb(52, 189, 40) !important;
}

.reset{
    float:right;
    width:max-content;
}

.resBtn:hover{
text-shadow: 0px 4px 4px #282828;
}

.modal form input{
    outline: 0;
  border: none;
  -moz-outline-style: none;
    border-bottom: 1px black solid !important;
    border-radius: 0px;
    box-shadow: none !important;
}

.lllin{
    float:left;
    width:max-content;
}

@keyframes getStarted{

    0% {opacity:0}
    90% {opacity:0}
    100% {opacity:1}
}


.expert:hover{
	transform: scale(1.06);
}

.black{
	color: black;
}


.cus_container{

	  width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.laga{
	margin-bottom: 70px;
}


.scene{
  top:-50px;
  width: 200px;
  height: 260px;
  border: none;
  margin: 90px 0;
  perspective: 600px;
}

.scene2{
  width: 100%;
  height: 100%;
  border: none;
  margin: 40px 0;
  perspective: 600px;
}


.clock:hover{
	transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
}

.tag-line{
  font-weight:600;
  font-size: 30px;
  font-family: 'Special Elite', sans-serif;
  color: white;
  background: rgba(46, 221, 21, 0.95);
  padding: 20;
  width: 160%;
  margin-right: 0vw;
  margin-left: -30%;
  margin-top:-70px;
  top: 70px;

}

.up{
	bottom:-10px;
	left:45%;
	margin-right: auto;
	position: absolute;
}

.u{
	margin: auto;
}

.mt{
  padding-top: 0px;
  height: 589px;
  max-height: 300%;
}

.wid{
  width: 75%;
}

.card{
	padding: 30px;
	width: max-content;
	height: 100px;
}

.fa-10x{
	font-size: 300px !important;
}


.clock {
  margin-top:-88px;
  border-radius: 50%;
  background: #0f3b66 url(/static/frontend/globe2.svg) no-repeat center;
  background-size: 98%;
  height: 20em;
  position: relative;
  width: 20em;
  transition: transform ease-in-out .7s;
  transform: rotateY(-55deg) rotateZ(10deg) rotateX(40deg);
}

#fff0 url(/static/frontend/globe2.svg) no-repeat center

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.active .nav-link{
    color: rgba(76, 232, 63, 0.75) !important;
}

.nav-link{
    transition: transform .5s, color .3s;
    text-transform: uppercase;
    font-weight:600;
    font-size: 14px;
    color: white !important;
}

.nav-link:hover{
    color: rgba(76, 232, 63, 0.75) !important;
    transform: scale(1.04);
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.seconds {
  background: #fff;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}


@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.cus_container2{
	    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.stars{
	justify-content: center;
display: flex;

}
.card-image{
	background: linear-gradient(to bottom right,#249191, #1c5093, #7e225a);
	width: 100%;
	height: 200px;
	justify-content: center;
	display: flex;
}

.card-image:hover .fa-3x{
	transform: scale(1.2);

}



.col-md-6 .card a{
	text-decoration: none;
	color: white !important;
}

.col-sm-3 .card:hover{
		transform: scale(1.15);
}

.fa-3x{
	margin:auto;
	color: white;
	border: 2px solid white;
	width: 80px;
	height: 80px;
	padding: 20px;
	padding-top: 10px;
	border-radius: 50%;
	width: max-content;
	transition: transform .3s;
}

.z-high{
  z-index:999;
}

.card{
	border-radius: 24px !important;
	padding: 0;
	width: 100%;
	height: max-content;
	transition: transform .3s;

}
.col-sm-3{
	min-width: 400px;
}

.section2{
	background-color: white;
	padding: 50px;
}

.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite linear;
}
.seconds-container {
  animation: rotate 60s infinite linear;
}


.bg-black{
	background-color: black;
}

.bg-bitblue{
  background-color: #e3eaf2 !important;
}

.step-icon{
  display: none;
}

.high-z{
  z-index: 1040;
}

.tag-line2{
  font-family: 'Special Elite', sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 800;

}

@media (max-width: 1000px){
  .mt{
    height: auto;
  }
  .scroll{
    right:15px !important;
  }
  .arrow-up{
  font-size: 14px !important;
  }
  .tag-line{

  font-weight:600;
  font-size: 27px;
  font-family: 'Special Elite', sans-serif;
  color: white;
  background: rgba(46, 221, 21, 0.95);
  padding: 20;
  width: 160%;
  margin-right: 0vw;
  margin-left: -30%;
  margin-top:5px;
  top: 70px;
  }
  .expert{
    font-size:15px;
    min-height:78px;
    max-width:140%;
    margin-left:-10%;
  }
  .laga .col-sm-8{
    width: 100% !important;
    padding:0px;

  }
  .wid{
    padding:0px;
  }
}



.w-100ic .card{
  position: relative;
border-radius: 10px;
background-color: #ffffff;
-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
padding: 0px 10px 40px 10px;
min-height: 235px;  
font-family: "Open Sans", sans-serif;
}

.pp-5 .row{
  padding-top: 60px;
}

.step-content{
  width: 100%;
font-size: 13px;
line-height: 22px;
color: #666666;
padding: 0px;
margin: 0px;
}

.step-h4{
  padding: 50px 0px 20px 0px;
margin: 0px 0px 0px 0px;
font-size: 17px;
color: #4e4e4e;
font-weight: 600;
}

@media (max-width: 900px){

.step-h4{
    font-size:16px;
}
.section2{
    padding:0px !important;
}

.testi .p-5{
  padding:2rem !important;
  padding-top: 3rem 1 !important;
}

    .inverted{
        font-size:19px !important;
        line-height: .8 !important;
    }
    .glyphicon{
        font-size: 18px !important;
padding: 8px;
    }
    .stars{
        transform:scale(0.7);
    }
  .pp-5 .row{
    padding-top: 0px;
  }
  .w-100ic{
    flex: 0 0 100% !important;
    max-width: 100%;
    padding-top: 44px;
  }
  .hidic{
    display: none;
  }
  .laga{
  	transform: scale(0.8);
  }
  .section2 .cus_container2{
	width:100%;
  }
  .cus_container{
	width:100%;
  }
  .intro{
  margin-top: 10px !important;
  }

    .clock{
        transform:scale(0.8);
    }
    .tag-line{
      font-weight:600;
      font-size: 22px;
      font-family: 'Special Elite', sans-serif;
      color: white;
      background: rgba(46, 221, 21, 0.95);
      padding: 20;
      width: 140%;
      margin-right: 0vw;
      margin-left: -20%;
      margin-top:0px;
      top: 70px;
    }

}
@media (max-width: 700px){
  .laga{
  	transform: scale(0.7);
  }
  .tag-line{
  font-weight:300;
  font-size: 22px;
  font-family: 'Special Elite', sans-serif;
  color:white;
  }


}

.container .container .col-lg-4{
  padding: 0px !important;

}

@media (max-width: 576px){
	.clock{
	    margin-top:10px;
	}
	.tag-line{
  font-weight:300;
  font-size: 18px;
  font-family: 'Special Elite', sans-serif;
  color:white;
 }
 .expert{
    font-size:15px;
    min-height:78px;
    max-width:140%;
    margin-left:-10%;
  }
  .dis-sm{
    display: block;
    color: white;
  }
}


.first{
 color: white;
}
.second{
 color: white;
}
.third{
  color: white;
}

.first{
  height: 100%;
  background: rgb(52, 189, 40) none repeat scroll 0 0;
  width: 100%;
}

.second{
  height: 100%;
  background: #1b4f82 none repeat scroll 0 0;
  width: 100%;
}

.third{
 height: 100%;
  background: rgb(52, 189, 40) none repeat scroll 0 0;
  width: 100%;
}

.w-maxc{
  width:max-content;
}

.icon-text{
  position: absolute;
  right: 10px;
  bottom:15px;
  opacity: 0.2;
  transition: all ease-in-out .4s;
}

.tt{
  text-transform: uppercase;
  font-size: 19px;
}

#ssbtn{
    z-index: 100;
    position: relative;
}

.f-600{
  font-weight: 700;
  font-size: 25px;
  font-family: 
}


.bg-image{
  min-height: 90%;
  background: white url('/static/frontend/bck.jpg');
  background-blend-mode: multiply;
}

.bg-image-save{
    background: #fff url(https://images.pexels.com/photos/3758105/pexels-photo-3758105.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500) no-repeat center;
    background-color: rgb(255, 255, 255);
    background-position-y: center;
    background-size: auto;
    background-size: cover;
    background-position-y: top;
    min-height: 90%;
    background-blend-mode: color-dodge;
    background-color: #3a476f;

}


.container .col-lg-4{
  padding: 0px !important;

}
.container .col-lg-4:hover .icon-text{
  right: 20px;
  opacity: 0.26;
}



.intro{
  z-index: 100;
  position: relative;
  margin: auto;
  margin-top: -80px;
}






.steps-icon{
  font-size: 75px;
  font-family: 'Open Sans', sans-serif;
color: #3ff225;
letter-spacing: -5px;
left:40%;
top: -55px;
position: absolute;
}


.steps-explanation{
float: none;
width: auto;
border-bottom: 1px solid rgba(102,102,102,0.1);
overflow: hidden;
padding-bottom: 10px;

}


.section2 ul{
  list-style: outside none none;
}

.section2 li{
  float: left;
  margin-top: 30px;
  width: 100%;
}



@media (max-width: 300px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 300px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 500px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 608px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .carosel-item {
    width: 50%;
  }
}
.carosel {
  position: relative;
  background-color: #0000;
}
.carosel-inner {
    padding-left:50px;
    padding-right:50px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  min-height: 65%;
}

.place-font{
    font-size: 14px;
    color: grey;

}

.name{
    top: 23px;
    position: relative;}

.carosel-item {
    padding: 10px;
  display: inline-block;
  animation-name: example;
  animation-duration: .4s;
}


@keyframes example {
  0%   {width: 0%;}

  100%   {width: 50%;}
}

.result{
    margin-top:-94px;
    opacity:0;
}

.red{
    color:red;
}

@keyframes example2 {
  0%   {opacity: 0; max-height: 0px;}
  50%   { opacity: 0; max-height: 0px; }
  75%   { opacity: 0;}
  100%   {opacity: .5; max-height:1093px;}
}

.ani{
  animation-name: example2;
  animation-duration: .8s;
}


.green{
    color: green;

}

.inverted{

    color:grey;
    font-size:26px;
    font-family: 'Katibeh', cursive;
    max-height: max-content;
  white-space: normal;
  line-height: 1;
}

.testi{
    border-radius:0px !important;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15) !important;

}


.testi::after{
        content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: -30px;
    left: 45%;
    border: 15px solid transparent;
    border-top-color: #ffffff;
}

.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  display: inline-block;
  z-index:100;
}
.carosel-control-left {
  left: 15px;
}
.carosel-control-right {
  right: 15px;
}
.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

* {box-sizing: border-box}



  
.scroll {
  opacity: 0.8;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 15px;
  right: 30px;
  border-radius: 5px;
  border: none;
  z-index: 10000000000;

  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  color: black;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
  width: max-content;
}
  