.prac{
	width: 100%;
	color: white;
	font-weight: 800;
	border-radius: 10px 10px 0px 0px;
	background: #79ca67;
}

.b{
	min-height: 330px;
	background: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #abf4a9;
}

.prac2{
	width: 100%;
	color: white;
	font-weight: 800;
	border-radius: 10px 10px 0px 0px;
	background: #5f80d0;
}

.b2{
	min-height: 330px;
	background: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #aba9f4;
}

.p-prac{
	font-size:20px;
}

.bor{
	background: #0f3b66eb;
	color: white;
	padding: 20px;
	border-radius: 20px;
}

@media(max-width: 900px){
	.p-prac{
		font-size:16px !important;
	}
}

@media(max-width: 667px){
	.p-prac{
		padding: 10px;
	}
	.b{
		min-height: 100px;
	}
	.sti{
		position: sticky;
		top:0;
	}

}


.sti{
	position: sticky;
	top:0;
}