.prac{
	width: 100%;
	color: #0f3b66;
	font-weight: 800;
}

.b{
	min-height: 330px;
}

.p-prac{
	font-size:20px;
}

.bor{
	background: #0f3b66eb;
	color: white;
	padding: 20px;
	border-radius: 20px;
}

@media(max-width: 900px){
	.p-prac{
		font-size:16px !important;
	}
}

@media(max-width: 667px){
	.p-prac{
		padding: 10px;
	}
	.b{
		min-height: 100px;
	}
	.sti{
		position: sticky;
		top:0;
	}

}


.sti{
	position: sticky;
	top:0;
}