@media (min-width: 800px){
	.ws{
		width:50%;
		min-height:450px;

		margin-top:130px !important;
		margin-bottom:100px !important;
	}
}

.btn-showpass{
	transition: all .2s;
	width: max-content;
}

.btn-showpass:hover{
	transform: scale(1.08);
}