.sidebar {
  position: sticky;
  left: 0;
  top:80px;
  overflow: hidden;
  width: max-content;
  display: block;
  background-color: "#23232e";
  transition: width 600ms ease;
  z-index: 2;
}

.del-course{
  right: 25px;
  position: absolute;
  top: 25px;
  color: #66aed9;
  font-size: 20px;
}

.col-sm4{
  width: 30% !important;
}

.col-sm8{
  width: 70% !important;
}

.form-chat{
  width: 100%;
display: flex;
padding: 0px;
margin: auto; 
}

.from-other{
  max-width: 100%;
  margin-left: auto;
  width: max-content;
  padding: 10px;
  background: #66aed9;
  border-radius: 15px;
  box-shadow: .1px .1px 3px #66aed9;
  transform: rotate(180deg);

}

.uploaded-link{
  width:45%; margin:10px; float:right
}

.uploadedSyll{
  padding:5px; 
  display:grid;
  width:100%; 
  border-bottom:1px solid black;
}


.from-me{
  max-width: 100%;
  width: max-content;
  padding: 10px;
  background: #98ddc3;
  border-radius: 15px;
  box-shadow: .1px .1px 3px #98ddc3;
  transform: rotate(180deg);
}

.from-admin{
  max-width: 100%;
  width: max-content;
  padding: 10px;
  background: black;
  color: white;
  margin: auto;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: .1px .1px 3px black;
  transform: rotate(180deg);
}

.contact-border{
  border:.5px solid #dfdfdf;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  border-bottom: 50px solid #dfdfdf;
}

.contact-head{
  height: max-content;
  background-color: #159d44;
  padding: 10px;
  color: white;
  display: block ruby;
}

.contact-head h4{
  font-weight: 600;
}

.contact-input{
  bottom: 12px;
  position: absolute;
  left: 63px;
}
.contact-input input{
  border:none;
  border-radius: 4px;
  padding: 5px;
  background-color: #f7f7f7;
}
.contact-input input:hover{
  border:0.01px solid #17a2b8;
}

.contact-body{
  overflow-y: scroll;
  height: 100%;
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: thin;
}


.contact-body-in{
  transform: rotate(180deg);
}

.sidebar a{
  text-decoration: none;
  color: #002147;
}

.sidebar a:hover{
  text-decoration: none;
}

.sidebar li{
  max-width: 60px;
  transition: all .3s;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.main{
  overflow: hidden;
}
.upform{
  background-color: #0f3b66;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}
.subxy{
  font-weight: 600;
  background: #fb3838;
  color: white;
  width: max-content;
  padding: 7px;
  max-width:100%;
  border: none;
  border-radius: 14px;
}
.sidebar li:hover{
  width:max-content;
  max-width: 100%;
  overflow: hidden;

}
.sidebar ul{
  width:max-content;
  margin: 0px;
  padding-left: 0;
  font-size: 16px; 
}


.sidebar li{ 
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 19px;
} 

#crc{
  background:white url('/static/frontend/online-learning.svg') no-repeat;
  background-position: center;
  background-position-x: 10px;
  background-size: 40px;
}

.scrollxy{
    overflow-y: scroll;
    max-height: 74vh;
    padding-top:10px;

  -ms-overflow-style: none;
  scrollbar-width: thin;

  }

.scrollxy::-webkit-scrollbar{
      background:transparent !important;
      width: 0px;
      display: none;
    }
.scrollxy::-webkit-scrollbar-track-piece {
      background:rgba(255,0,0,0.1) !important; 
    }
.scrollxy::-webkit-scrollbar-thumb-proportional:vertical {
      background:rgba(255,0,0,0.1) !important; 
    }

.td-none{
  text-decoration: none !important;
  color: black;
}

.bor-round{
  text-decoration: none !important;
  color: black;
  border-radius: 50%;
  padding: 65px !important;
  width: max-content;
  animation: bounce infinite;
  animation-duration: 2s;
}

.td-none{
  text-decoration: none !important;
}

@keyframes bounce{
  0%{ transform:translateY(0px); }
  25%{ transform:translateY(10px); }
  50%{ transform:translateY(0px); }
  75%{ transform:translateY(10px); }
  100%{ transform:translateY(0px); }

}

.hov-ani:hover {
    transform: scale(1.04);
}

#pay{
  background:white url('/static/frontend/money.svg') no-repeat;
  background-position: center;
  background-position-x: 10px;
  background-size: 40px;
}

#tt{
  background:white url('/static/frontend/microsoft-excel.svg') no-repeat;
  background-position: center;
  background-position-x: 5px;
  background-size: 50px;
}


#uplod{
  background:white url('/static/frontend/files-and-folders.svg') no-repeat;
  background-position: center;
  background-position-x: 10px;
  background-size: 40px;
}         


#profile{
  background:white url('/static/frontend/user.svg') no-repeat;
  background-position: center;
  background-position-x: 10px;
  background-size: 40px;
}         



#fedbk{
  background: white url('/static/frontend/quality.svg') no-repeat;
  background-position: center;
  background-size: 40px;
  background-position-x: 10px;
}

#lgout{
  background: white url('/static/frontend/logout.svg') no-repeat;
  background-position: center;
  background-position-x: 13px;
  background-size: 36px;
}


.border{
  border-right: 3px #13ae13 solid !important;
}

.side-item{
  margin-left: 50px;
  width: max-content;
  transition: all .3s;
  transform: rotateY(-45deg);
  perspective: 1000;
}

.side-item h4{
  font-size: 16px !important;
  font-weight: 600 !important;
}


.sidebar li:hover .side-item{
  transform: rotateY(0deg);
}


.align{
  position: relative;
  top:-300px;
}


.day-highlight {
  background-color: #85b5ff !important;
  color: white !important;
  font-weight: 600;
}


.calender{
  width: 90%;
  margin: auto;
}



.top-300{
  position: relative;
  top: -360px;
}

.top-230{
  position: relative;
  top: -250px;
}

.mr-7{
  padding-right: 6rem;
}

.ml-7{
  padding-left: 6rem;
}

.blink{

  animation: infinite;
  animation-name: blink;
  animation-duration: .8s;
}
@keyframes blink{
  0% { transform: scale(0.9); }
  25% { transform: scale(1); }
  75% { transform: scale(1.05); }
  100% { transform: scale(0.9); }
  color:white;
}

@media(max-width: 540px){
  .align{
    position: unset;
    top:unset;
  }

.lg{
  width: 16.667%;
  float:left;
}
  .sidebar {
    position: fixed;
    top:unset;
    bottom: 0;
    margin: auto;
    display: flex;
    width: 100%;
    background: #f8f9fa !important;
    z-index: 103;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  }
  .mar-t{
    margin-top: 50px;
  }

  
  .sidebar a{
    float: left;
    width: 16.667%;
  }

  .sidebar ul{
    width: 100%;
  }

  #crc{
    background-position-x: 50%;
  }
  #tt{
    background-position-x: 50%;
  }
  #uplod{
    background-position-x: 50%;
  }
  #fedbk{
    background-position-x: 50%;
  }
  #lgout{
    background-position-x: 50%;
  }

  .te{
    width: 20% !important;
  }

  .side-item{
    display: none;
  }

  .sidebar li{ 
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    min-width: 100%;
  }
  .sidebar li:hover{
    width:100%;
  }
  .border{
    border:none !important;
  }


  .top-300{
    top: 80px;
  }
  .top-230{
    top: 80px;
  }

  .mr-7{
    padding-right: 2rem;
  }

  .ml-7{
    padding-left: 2rem;
  }

}
